{{#sessions}}
    <ul class="list-group">
        <li class="list-group-item">
            <p>Session {{number}}</p>
            <p>Started: {{startDate}}</p>
            <p>Finished: {{finishDate}}</p>
            <p>Amount of bags: {{bagCount}}</p>
        </li>
    </ul>
{{/sessions}}
